{:ident :bikesoil
    :data [
        
    [[:im.listing/id #uuid "5d931255-3fc5-4d43-9886-4dd1bb841259" :listing/Spotler]
    #:im.listing{:createdAt #inst "2021-05-25T15:54:24.382+01:00"
                 :closed false
                 :title "Spotler listing title"
                 :publicData {:marketplace "Spotler"
                              :website "https://marketplace.adzooma.com/categories/spotler.html"
                              :scoreavg 0.0}
                 :author #im/ref :user/johnZWJWLXJHQ6}]

   [[:im.user/id :user/johnZWJWLXJHQ6]
    #:im.user{:createdAt #inst "2021-05-25T15:54:24.382+01:00"
              :primaryEmail {:im.email/address "john@spotler.com"
                             :im.email/verified false}
              :profile {:im.userProfile/firstName "john"
                        :im.userProfile/lastName "smith"
                        :im.userProfile/displayName "john smith"}
              :role [:user.role/customer :user.role/provider]}]
       
    [[:im.listing/id #uuid "a9630a01-2e4f-4f7a-a066-14d2c7402680" :listing/Phable]
    #:im.listing{:createdAt #inst "2021-05-25T15:54:24.384+01:00"
                 :closed false
                 :title "Phable listing title"
                 :publicData {:marketplace "Phable"
                              :website "https://marketplace.adzooma.com/categories/phable.html"
                              :scoreavg 5.0}
                 :author #im/ref :user/sven4PTMOLS5D3}]

   [[:im.user/id :user/sven4PTMOLS5D3]
    #:im.user{:createdAt #inst "2021-05-25T15:54:24.384+01:00"
              :primaryEmail {:im.email/address "sven@phable.com"
                             :im.email/verified false}
              :profile {:im.userProfile/firstName "sven"
                        :im.userProfile/lastName "eriksson"
                        :im.userProfile/displayName "sven eriksson"}
              :role [:user.role/customer :user.role/provider]}]
       
    [[:im.listing/id #uuid "82bbc61f-8b41-4cc6-8d35-50c92eac5fd5" :listing/Archant]
    #:im.listing{:createdAt #inst "2021-05-25T15:54:24.384+01:00"
                 :closed false
                 :title "Archant listing title"
                 :publicData {:marketplace "Archant"
                              :website "https://marketplace.adzooma.com/categories/archant.html"
                              :scoreavg 0.0}
                 :author #im/ref :user/ivanDGDE9T5WTV}]

   [[:im.user/id :user/ivanDGDE9T5WTV]
    #:im.user{:createdAt #inst "2021-05-25T15:54:24.384+01:00"
              :primaryEmail {:im.email/address "ivan@archant.com"
                             :im.email/verified false}
              :profile {:im.userProfile/firstName "ivan"
                        :im.userProfile/lastName "ratikic"
                        :im.userProfile/displayName "ivan ratikic"}
              :role [:user.role/customer :user.role/provider]}]
      
    ]}