{:ident :bikesoil
    :data [
        
    [[:im.listing/id #uuid "b1786643-6c39-404c-b68f-0e192c052717" :listing/Spotler]
    #:im.listing{:createdAt #inst "2021-05-25T16:21:59+00:00"
                 :closed false
                 :title "Spotler listing title"
                 :publicData {:marketplace "Spotler"
                              :website "https://marketplace.adzooma.com/categories/spotler.html"
                              :scoreavg 0.0}
                 :author #im/ref :user/johnZYZJXKG8O9}]

   [[:im.user/id :user/johnZYZJXKG8O9]
    #:im.user{:createdAt #inst "2021-05-25T16:21:59+00:00"
              :primaryEmail {:im.email/address "john@spotler.com"
                             :im.email/verified false}
              :profile {:im.userProfile/firstName "john"
                        :im.userProfile/lastName "smith"
                        :im.userProfile/displayName "john smith"}
              :role [:user.role/customer :user.role/provider]}]
       
    [[:im.listing/id #uuid "7f401282-5016-46cc-9c29-414936c3ff69" :listing/Phable]
    #:im.listing{:createdAt #inst "2021-05-25T16:21:59+00:00"
                 :closed false
                 :title "Phable listing title"
                 :publicData {:marketplace "Phable"
                              :website "https://marketplace.adzooma.com/categories/phable.html"
                              :scoreavg 5.0}
                 :author #im/ref :user/svenT2U6VLXQRL}]

   [[:im.user/id :user/svenT2U6VLXQRL]
    #:im.user{:createdAt #inst "2021-05-25T16:21:59+00:00"
              :primaryEmail {:im.email/address "sven@phable.com"
                             :im.email/verified false}
              :profile {:im.userProfile/firstName "sven"
                        :im.userProfile/lastName "eriksson"
                        :im.userProfile/displayName "sven eriksson"}
              :role [:user.role/customer :user.role/provider]}]
       
    [[:im.listing/id #uuid "916b7ba6-41aa-4bf3-9672-7f665799b3f4" :listing/Archant]
    #:im.listing{:createdAt #inst "2021-05-25T16:21:59+00:00"
                 :closed false
                 :title "Archant listing title"
                 :publicData {:marketplace "Archant"
                              :website "https://marketplace.adzooma.com/categories/archant.html"
                              :scoreavg 0.0}
                 :author #im/ref :user/ivan50THT8IANX}]

   [[:im.user/id :user/ivan50THT8IANX]
    #:im.user{:createdAt #inst "2021-05-25T16:21:59+00:00"
              :primaryEmail {:im.email/address "ivan@archant.com"
                             :im.email/verified false}
              :profile {:im.userProfile/firstName "ivan"
                        :im.userProfile/lastName "ratikic"
                        :im.userProfile/displayName "ivan ratikic"}
              :role [:user.role/customer :user.role/provider]}]
      
    ]}